{% extends 'base.html.twig' %}

{% block body %}

<h1>Mes Disponiblités</h1>

    <SCRIPT LANGUAGE="JavaScript">
        let maintenant=new Date();
        let jour=maintenant.getDate();
        let mois=maintenant.getMonth()+1;
        let an=maintenant.getFullYear();
        document.write("nous sommes le ",jour,"/",mois,"/",an,".");
    </SCRIPT>

{% endblock %}