{% extends "base.html.twig" %}
{% block body %}
<div class="faq">
    <h1>Questions Fréquemment Posées</h1>
    {# <ul>
 
            <li> #}
                <h3>Comment supprimer mon Compte</h3>
                <p>Il suffit d'envoyer un email à 
                <a href="mailto:portfolio@gmail.com" style="text-decoration:none">portfolio@gmail.com</a>
                dater et mentionner le souhait de suppression de son compte 
            {# </li>

    </ul> #}
</div>
{% endblock %}