{% extends "base.html.twig" %}
{% block body %}

    <div class="links-modele"></div>
<div class="FAQ">
    <h1>Comment supprimer mon Compte</h1>
    
            <!-- Bouton de retour à la page précédente -->
        <button class="back" onclick="history.back()" >⬅️</button>

                <H3>Il suffit d'envoyer un email à 
                <a href="mailto:portfolio@gmail.com">portfolio@gmail.com</a>
                et mentionner le souhait de suppression de son compte</H3>

</div>
{% endblock %}