{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
 <link rel="stylesheet" href="app.css"/>
<h1>Completez votre profil Modèle</h1>
{{form_start(form)}}
{# {{form_widget(form)}} #}
<button type="submit">Envoyer</button>
{{form_end(form)}}
{% endblock %}