{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="links-modele"></div>

        <!-- Bouton de retour à la page précédente -->
        <button class="back" onclick="history.back()" >⬅️</button>



<h1>Completez votre profil Modèle</h1>
<div class='Container_parent'>
<div class="Container">
{{form_start(form)}}


{{form_end(form)}}
</div>
</div>


{% endblock %}