{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form, { 'attr': {'id': 'tarifForm'} }) }}
	<button type="submit" class="btn btn-outline-success">Ajouter le tarif</button>
	{{ form_end(form) }}
	<button type="button" id="add-input" class="btn btn-primary">Ajouter un tarif</button>

	<div id="forms"></div>

    <div id="list-tarifs">
    {% for tarif in tarifsUser %}
    <p>{{tarif.prestations}} - à {{tarif.prix}}€</p>
    {% endfor %}
    </div>
	
<script>
		// Ajoute un nouveau champ input
	const form = document.getElementById('tarifForm');
	document.getElementById('add-input').addEventListener('click', function () {
	console.log(form)
	const cloneForm = form.cloneNode(true);
	document.getElementById('forms').appendChild(cloneForm);
	});

</script>

{% endblock %}
    