{% extends 'base.html.twig' %}

{% block title %}Modifier Galleries{% endblock %}

{% block body %}
    <h1>Modifier Galleries</h1>
    {# Afficher les médias associés à la galerie #}
    {% for media in gallerie.getMedias %}
        <img src="{{ asset('uploads/medias/' ~ media.src) }}" alt="description" width="200"/>
    {% endfor %}
    
    {# Inclure le formulaire d'édition de la galerie #}
    {{ include('modele/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_modele_app_product_show') }}">Back to List</a>

    {{ include('modele/product/_delete_form.html.twig') }}
{% endblock %}
