{% extends 'base.html.twig' %}

{% block title %}Nouvelle Gallerie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Gallerie</h1>

    {{ include('modele/product/_form.html.twig') }}
    
{% endblock %}
