{% extends 'base.html.twig' %}

{% block title %}Gestion Galleries{% endblock %}

{% block body %}
    <h1>Gestion Galleries</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for key, media in gallerie.getMedias %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for key, media in gallerie.getMedias %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}">
                    <img src="{{ asset('uploads/medias/' ~ media.src) }}" class="d-block w-100" alt="description">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<br>
    <a href="{{ path('app_modele_app_gallerie_new', {'id': gallerie.id}) }}">Ajouter une gallerie</a>

    {{ include('modele/product/_delete_form.html.twig') }}
{% endblock %}
