{% extends 'base.html.twig' %} 

{# {% block title %}Home{% endblock %} #}

{% block body %}
{# <h1>Bienvenue sur Portfolio</h1>
<h2>Accueil</h2> #}

    {# {% if app.user %}
    {% if is_granted('ROLE_MODELE') %}
<button type="button" class="btn btn-outline-secondary">Profil</button>
    {% if is_granted('ROLE_PHOTOGRAPHE') %}
<button type="button" class="btn btn-outline-secondary">Profil Photographe</button>

    {% endif %}
    {% endif %}
    {% endif %} #}
{% endblock %}