{% extends "basebook.html.twig" %}

{% block title %}Bibliothèque!{% endblock %}

{% block body %}

<div class="links-photographe"></div>
<!-- La structure HTML pour l'image en plein écran -->
<div id="fullscreen-overlay">
    <div id="fullscreen-image-container">
        <img id="fullscreen-image" src="" alt="Image en plein écran">
        <button id="close-fullscreen">Fermer</button>
    </div>
</div>

<!-- La structure HTML pour les miniatures -->
<div class="thumbnails">
    <div class="row">
        {% for media in user.media %}
            {% if media.destination == "bibliotheque" %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img class="card-img-top thumbnail-image" src="{{ asset('upload/' ~ media.nom) }}" alt="une image ici">
                        <div class="card-body">
                            <!-- Contenu supplémentaire de la carte ici si nécessaire -->
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
