{% extends "base.html.twig" %}

{% block body %}

<div class="faq">
    <h1>Comment supprimer mon Compte</h1>


        <!-- Bouton de retour à la page précédente -->
        <button class="back" onclick="history.back()" >⬅️</button>

                <H3>Il suffit d'envoyer un email à 
                <a href="mailto:portfolio@gmail.com" style="text-decoration:none">portfolio@gmail.com</a>
                dater et mentionner le souhait de suppression de son compte</H3>

</div>
{% endblock %}