{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<h1>Completez votre profil Modèle</h1>
<div class="form_photographe_profile">
<div class='Container_parent'>
<div class="container">
{{form_start(form)}}


{{form_end(form)}}
</div>
</div>


{% endblock %}