{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
 <link rel="stylesheet" href="app.css"/>


<h1>Completez votre profil Modèle</h1>
{{form_start(form)}}
<div class="form_photographe_profile">
<div class="container">



</div>
</div>
<button type="submit" class="index_button">Modifier</button>


{{form_end(form)}}
{% endblock %}